body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: "Open Sans", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.links {
  display: inline-block;
  padding: 2px;
  text-align: right;
  color: pink;
  vertical-align: bottom;
  font-size: "18px";
}

.links li {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  padding: 2px;
  color: black;
  vertical-align: middle;
  margin-top: 28px;
  margin-left: 14px;
}

.MDBCardText {
  font-size: 100px;
}

.nav > .nav-item > a[class*="nav-link"] {
  color: black;
}

.nav > .nav-item > a[class*="active"] {
  /* background-color: black; */
  border: 2px;
  border-radius: 20px;
  border-color: palevioletred;
  border-style: solid;
  /* text-decoration: underline; */
  color: black;
}
